.title {
    composes: coloredText from '../../base-styles.css';
    font-size: 3rem;
    padding-bottom: 2rem;
}

.defaultText {
    font-size: 2rem;
    composes: coloredText from '../../base-styles.css';
}

.defaultText:first-child {
    margin-top: 2rem;
}

.buttonBox {
    composes: coloredText from '../../base-styles.css';
}

.introButton {
    composes: defaultBtn from '../../base-styles.css';
}